{% extends 'main.html' %}

{% block content %}
    <style>
        .groups-container{
            display: grid;
            grid-template-columns: 2fr 1fr;
        }
    </style>
    <div class="groups-container">
    <div>
        <h2>{{ group.name }}</h2>
        <p>{{ group.description }}</p>
        <hr>
        {% for time_slot in time_slots %}
            <div>
                <p>{{ time_slot.user.name }} available </p>
                <p>from {{ time_slot.start_time }} to {{ time_slot.end_time }}</p>
                {% if request.user == time_slot.user %}
                <a href="{% url 'delete-time' time_slot.id %}">delete</a>
                {% endif %}
            </div>
        {% endfor %}
        <hr>
        <div>
            <form method="POST" action="">
                {% csrf_token %}
                <label>Enter Start time
                    <input type="time" name="start_time" >
                </label>
                <label>Enter End time
                    <input type="time" name="end_time" >
                </label>
                <input type="submit">
            </form>
        </div>
    </div>
    <div>
        <h2>participants</h2>
        {% for participant in group.members.all %}
            <p>{{ participant.username }}</p>
        {% endfor %}
    </div>
    </div>
{% endblock %}